apiVersion: v2
name: customer-{{ customer_name }}
description: {{ customer_name }}'s epic adventure with FWS.
type: application
version: {{ chart_version }}
appVersion: 1.0.0

dependencies:
- name: cpi-edge
  version: {{ cpi_edge_version }}
  repository: "https://application-research.github.io/fws-cpi-helm"
- name: cpi-delta
  version: {{ cpi_delta_version }}
  repository: "https://application-research.github.io/fws-cpi-helm"
- name: cpi-delta-registry
  version: {{ cpi_delta_registry_version }}
  repository: "https://application-research.github.io/fws-cpi-helm"
- name: cpi-postgresql
  version: {{ cpi_postgresql_version }}
  repository: "https://application-research.github.io/fws-cpi-helm"