global:
  customer:
    name: {{ customer_name }}
    walletAddress: {{ customer_walletaddress }}
    walletName: {{ customer_walletname }}
  products:
{% if 'edge' in products %}
    edge:
      tshirtSize: {{ edge_tshirtsize }}
      ingressName: {{ customer_name }}.edge.estuary.tech
{% endif %}
{% if 'delta' in products %}
    delta:
      tshirtSize: {{ delta_tshirtsize }}
      ingressName: {{ customer_name }}.delta.estuary.tech
    delta_registry:
      tshirtSize: basic
      ingressName: {{ customer_name }}.registry.estuary.tech
{% endif %}
    postgres:
      - name: dbfws
        tshirtSize: marbles
{% if 'postgres' in products %}
      - name: {{ postgres_cluster_name }}
        tshirtSize: {{ postgres_tshirtsize }}
{% endif %}
